body{
    margin: 0;
    align-items: center;
    text-align: center;
}
p{
    font-family: Acme;
    font-size: large;
}
.bg-video{
    width: 100%;
    height: auto;
}
#welcome{
    font-family: Lobster;
    font-weight: bolder;
    font-size: 80px;
}
#message{
    font-family: Lobster;
    font-size: 30px;
}
#sect{
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header a{
    font-weight: 800;
    text-decoration: none;
}
.matter{
    background-color: #b3cccc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 45px 0;
}
.matter img {
    width: 60%;
    height: auto;
}
.matter-des{
    margin-right: 25px;
}
.kids{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.adults{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.header a:visited{
    color: black;
}
body{
    width: 100%;
}
img{
    width: 15%;
    width: 220px;
    height: auto;
}
.section{
    margin: 5%;
    border: 3px black solid;
    border-radius: 5px;
}
div a:visited{
    color: black;
}
.allsections{
    margin: 0px 40% 10px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #1affa3;
}
.allsections a{
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}